/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

/* ========= GENERAL STYLES ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
}
:root {
  /* COLOR */
  --color-white: #fff;
  --color-dark: #2d344a;
  --color-gray: gray;
  --color-light-gray: #dadde2;
  --color-body-respon: #f3f7fc;
  /* FONT */
  --fsize-30: 30px;
  --fsize-20: 20px;
  --fsize-16: 16px;
  --fsize-15: 15px;
  --fsize-14: 14px;
  --fsize-12: 12px;

  /* TRANSITION */
  --transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", serif;
  color: var(--color-dark);
  background: var(--color-white);
  width: 100%;
}

a {
  color: var(--color-dark);
  transition: var(--transition);
}
a:hover {
  color: var(--color-gray);
  cursor: pointer;
}
button {
  cursor: pointer;

  padding: 13px 20px 14px 20px;
  background: var(--color-white);

  border: 1px solid var(--color-dark);
  border-radius: 2px;

  font-weight: 400;
  font-size: var(--fsize-16);

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: var(--transition);
}
button i {
  background: url("img/info-icon.svg") no-repeat center center;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}
button:hover {
  color: var(--color-white);
  background: var(--color-gray);
}
/* ============================= */
/* ========   NAVBAR   ======= */
nav {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 9999;
}
.nav__wrapper {
  padding: 20px 24px;
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}
/* >>>> MENU BUTTON <<<< */
.nav__wrapper-btn {
  display: none;
}
/* >>>> MENU LISTS <<<<*/
.nav__wrapper__lists {
  display: flex;
  align-items: center;
}
/* ***close menu *** */
.nav__wrapper__lists-close {
  display: none;
}
.nav__wrapper__lists a {
  font-size: var(--fsize-16);
  font-weight: 500;

  padding: 20px 9px;
}
/* ***menu lists icons *** */
.nav__wrapper__lists-icons {
  margin-left: 13px;
}
.nav__wrapper__lists-icons img {
  padding: 0 2px;
  cursor: pointer;
}

/* ======== HEADER ============== */
header {
  width: 100%;
  height: 100vh;
  min-height: 700px;
}
.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.header__wrapper__left,
.header__wrapper__right {
  flex: 1;
}
/*  >>>>> HEADER LEFT <<<<< */
.header__wrapper__left {
  width: 100%;
  position: relative;
}
/* *** logo *** */
.header__wrapper__left h1 img {
  width: 40%;
  position: absolute;
  top: 50px;
  left: 70px;
  z-index: 1;
}
/* *** background *** */
.header__wrapper__left-background {
  background: url("./img/main-img.jpg") no-repeat center center;
  background-size: cover;
  width: 80%;
  height: 100%;
  margin-left: 100px;
  overflow: hidden;
  animation: img-move-right 1.5s ease 0s 1 normal forwards;
}
@keyframes img-move-right {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
/*  >>>>> HEADER RIGHT <<<<< */

.header__wrapper__right {
  width: 100%;
  height: 100%;
}
.header__wrapper__right__wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  animation: appear 3s ease 0s 1 normal forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ***content*** */
.header__wrapper__right-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  z-index: 888;
  position: relative;
}
.header__wrapper__right-content-title {
  display: none;
}
.header__wrapper__right-content :is(p:nth-of-type(2)) {
  margin-left: 30px;
  margin-right: 30px;
}
.header__wrapper__right-content p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 2.4vw;
  margin-top: 150px;
}

/* ***img*** */
.header__wrapper__right-img {
  position: absolute;
  width: 100%;
  bottom: 30px;
  z-index: 0;
}

.header__wrapper__right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* =============== INFORMATION ============ */
.information {
  width: 100%;
}
.information__wrapper {
  width: 924px;
  margin: 0 auto 12%;
  padding-top: 10%;
}
/* >>> TITLE <<<< */
.information__wrapper > p {
  margin-bottom: 3%;
}
/* >>> LIST ITEMS <<<< */
.information__wrapper__lists {
  width: 800px;
  margin: 0 auto;
}
.information__wrapper__lists-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 6px;
  border-bottom: 1px solid var(--color-light-gray);
  padding: 30px;
}
.information__wrapper__lists-item :is(p, div) {
  flex: 1;
  text-align: center;
}
.information__wrapper__lists-item a {
  flex: 3;
}
.information__wrapper__lists-item div img {
  cursor: pointer;
}
/* =============== CARDS ============ */
.cards {
  width: 100%;
}
.cards__wrapper {
  width: 88%;
  margin: 0 auto 8%;

  display: flex;
  justify-content: space-between;

  gap: 30px;
}

.cards__wrapper-item {
  flex: 1;
  height: 500px;

  overflow: hidden;
  position: relative;

  transition: var(--transition);

  border-radius: 10px;
}
/* *** card background img */
.cards__wrapper-item img {
  position: relative;
  top: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: var(--transition);
}
.cards__wrapper-item:hover img {
  transform: scale(1.04);
}

.cards__wrapper-item div {
  padding: 20px;
}
/* *** card title **** */
.cards__wrapper-item-title {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--color-white);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 700;
}

.cards__wrapper-item-title p:first-child {
  font-size: var(--fsize-12);
  margin-left: 10px;
  letter-spacing: 3px;
}

.cards__wrapper-item-title p:last-child {
  font-size: var(--fszie-20);

  letter-spacing: 3px;
}
/* *** card lists *** */
.cards__wrapper-item-lists {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  width: 90%;
}
.cards__wrapper-item-lists a {
  color: var(--color-white);
  font-weight: 500;

  padding: 16px 12px;

  border-top: 1px solid var(--color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}
.cards__wrapper-item-lists a:last-child {
  border-bottom: 1px solid var(--color-white);
}

.cards__wrapper-item-lists a i {
  background: url("img/card-icon.svg") no-repeat center center;
  background-size: cover;
  width: 16px;
  height: 10px;
}
/* =================CLINIC =============== */
.clinic {
  width: 100%;
}
.clinic__wrapper {
  width: 80%;
  margin: 0 auto 9%;
  display: flex;
  justify-content: center;
}
/* >>> TITLE <<< */
.clinic__wrapper__left p {
  font-size: var(--fsize-30);
}

/* >>>  CONTENT <<< */
.clinic__wrapper__right {
  padding-left: 100px;
}
/* *** text *** */
.clinic__wrapper__right p:first-child {
  margin-bottom: 12px;
}
.clinic__wrapper__right p {
  line-height: 2.2;
}
/* *** button *** */
.clinic__wrapper__right div {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ============ IMAGE ============ */
.image {
  width: 100%;
}
.image__wrapper {
  width: 88%;
  margin: 0 auto 9%;
}

.image__wrapper img {
  width: 100%;
  object-fit: cover;
}
/* ============== SCHEDULE ========== */
.schedule {
  width: 100%;
  height: auto;
}
.schedule__wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto 18%;
  display: flex;
  gap: 20px;
}

/*  >>>>>>> LEFT <<<<<<< */

/* *** image **** */
.schedule__wrapper__image {
  flex: 2;
}
.schedule__wrapper__image img {
  width: 100%;
  height: 100%;
}
/* *** google map *** */
.schedule__wrapper__google {
  flex: 1;
}
.schedule__wrapper__google iframe {
  width: 100%;
  height: 100%;
}

/* >>>>>> RIGHT <<<<<< */
.schedule__wrapper__right {
  flex: 2;
  width: 100%;
  height: 100%;
}
/* *** table *** */
.schedule__wrapper__right__calendar {
  width: 100%;
}
.schedule__wrapper__right__calendar > table,
tr,
td {
  border-top: 2px solid var(--color-light-gray);
  border-bottom: 2px solid var(--color-light-gray);
  border-collapse: collapse;

  width: 100%;
  padding: 13px 8px;

  font-size: var(--fsize-14);
}
/* *** info *** */
.schedule__wrapper__right__info p {
  font-size: var(--fsize-14);
  margin-bottom: 2px;
  line-height: 2.2;
}
.schedule__wrapper__right__info p:last-child {
  margin-top: 20px;
}
/* *** button *** */
.schedule__wrapper__right__buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
/* ================ TELEPHONE ============= */
.telephone {
  width: 100%;
}
.telephone__wrapper {
  width: 100%;
  text-align: center;
  position: relative;
}
.telephone__wrapper::before {
  content: "";
  width: 1px;
  height: 130px;

  background: var(--color-light-gray);

  position: absolute;
  top: -150px;
}
.telephone__wrapper::after {
  content: "";
  width: 250px;
  height: 1px;

  background: var(--color-dark);

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.telephone__wrapper p {
  font-size: var(--fsize-20);
  line-height: 2.2;
}
.telephone__wrapper div {
  font-size: var(--fsize-30);
  padding-bottom: 10px;
}
.telephone__wrapper div > span {
  font-size: var(--fsize-20);
}
/* ====== FOOTER ========= */
footer {
  width: 100%;
}
.footer__wrapper {
  width: 80%;
  margin: 100px auto;

  display: flex;
  align-items: center;
  gap: 40px;

  position: relative;
}
/* *** logo *** */
.footer__wrapper-logo {
  flex: 1;
}
.footer__wrapper-logo img {
  width: 300px;
  height: 300px;
}

/* *** address *** */

.footer__wrapper-address {
  flex: 2;
}
.footer__wrapper-address p {
  margin-bottom: 20px;
}

/* *** copyright *** */
.footer__wrapper-copyright {
  position: absolute;
  bottom: 0;
}
.footer__wrapper-copyright p {
  font-size: var(--fsize-12);
}

/* ======================================= */

/* ============ RESPONSIVE ============ */
/* >>>>> TABLET <<<<< */
@media screen and (max-width: 1024px) {
  /* ========   NAVBAR   ======= */

  .nav__wrapper {
    padding: 20px 19px;
    margin-left: 100px;
  }
  /* >>>> MENU LISTS <<<<*/
  .nav__wrapper__lists a {
    font-size: var(--fsize-12);

    padding: 20px 7px;
  }

  /* ======== HEADER ============== */
  header {
    height: 70vh;
  }
  /* *** logo *** */
  .header__wrapper__left h1 img {
    top: 80px;
    left: 30px;
  }
  /* *** background *** */
  .header__wrapper__left-background {
    width: 90%;

    margin-left: 50px;
  }
  /*  >>>>> HEADER RIGHT <<<<< */
  /* ***content*** */
  .header__wrapper__right-content img {
    width: 80px;
    height: 200px;
    margin-top: 200px;
  }
  .header__wrapper__right-content p {
    font-size: var(--fsize-12);
  }

  .header__wrapper__right-content :is(p:nth-of-type(2)) {
    margin-left: 15px;
    margin-right: 15px;
  }
  .header__wrapper__right-content p {
    margin-top: 250px;
  }
  /* ***img*** */
  .header__wrapper__right-img {
    bottom: 50px;
  }
  /* ========= INFORMATION ========= */
  .information__wrapper {
    width: 80%;
    margin: 0 auto 12%;
    padding-top: 10%;
    font-size: var(--fsize-14);
  }
  /* >>> LIST ITEMS <<<< */
  .information__wrapper__lists {
    width: 100%;
  }

  /* =============== CARDS ============ */
  .cards__wrapper {
    width: 90%;
  }
  .cards__wrapper-item {
    height: 400px;
  }

  .cards__wrapper-item div {
    padding: 10px;
  }

  /* *** card title **** */

  .cards__wrapper-item-title p:last-child {
    font-size: var(--fsize-16);
    letter-spacing: 1px;
  }
  /* *** card lists *** */
  .cards__wrapper-item-lists a {
    padding: 5px;
    font-size: var(--fsize-12);
  }
  /* =================CLINIC =============== */
  /* >>> TITLE <<< */
  .clinic__wrapper__left p {
    font-size: var(--fsize-20);
  }
  /* >>>  CONTENT <<< */
  .clinic__wrapper__right {
    padding-left: 80px;
  }
  /* *** text *** */

  .clinic__wrapper__right p {
    font-size: var(--fsize-14);
  }
  .clinic__wrapper__right p:nth-of-type(2) br {
    display: none;
  }
  /* *** button *** */
  button {
    font-size: var(--fsize-14);
  }

  /* ======== SCHEDULE ========= */
  .schedule__wrapper {
    flex-direction: column;
  }
  /*  >>>>>>> LEFT <<<<<<< */

  .schedule__wrapper__image {
    order: 1;
  }
  .schedule__wrapper__google {
    order: 3;
  }
  /* >>>>>> RIGHT <<<<<< */
  .schedule__wrapper__right {
    order: 2;
  }
  .schedule__wrapper__right__calendar > table,
  tr,
  td {
    padding: 10px 8px;
    margin-bottom: 20px;

    font-size: var(--fsize-12);
  }
  /* *** info *** */
  .schedule__wrapper__right__info p {
    font-size: var(--fsize-12);
  }
  .schedule__wrapper__right {
    order: 2;
  }

  /* ================ TELEPHONE ============= */
  .telephone__wrapper::before {
    height: 115px;
    top: -120px;
  }
}

/* >>>>> MOBILE <<<<< */
@media screen and (max-width: 600px) {
  /* ========= GENERAL STYLES ======= */
  body {
    background: var(--color-body-respon);
  }
  button {
    padding: 10px;
    font-size: var(--fsize-12);
    font-weight: normal;
  }
  /* ============================= */
  /* ========   NAVBAR   ======= */
  /* >>>> MENU BUTTON <<<< */
  .nav__wrapper-btn {
    display: block;
  }

  .nav__wrapper__lists {
    display: none;
  }

  /* ======== HEADER ============== */
  header {
    height: auto;
  }
  .header__wrapper {
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: relative;
    min-height: 900px;
  }
  /*  >>>>> HEADER LEFT <<<<< */

  /* *** logo *** */
  .header__wrapper__left h1 img {
    width: 70%;
    top: 50px;
    left: 50px;
  }
  /* *** background *** */
  .header__wrapper__left-background {
    position: absolute;
    top: 0;

    width: 100%;
    height: 600px;
    margin-left: 0;
  }
  /*  >>>>> HEADER RIGHT <<<<< */
  .header__wrapper__right {
    margin-top: 30px;
    height: 200px;
  }
  .header__wrapper__right__wrapper {
    width: 80%;
    margin: 0 auto;
  }
  /* ***content*** */
  .header__wrapper__right-content {
    flex-direction: column;
  }
  .header__wrapper__right-content img {
    display: none;
  }
  .header__wrapper__right-content-title {
    display: block;
    font-size: 18px !important;
  }
  .header__wrapper__right-content :is(p:nth-of-type(2)) {
    margin: 20px 0 20px 0;
  }
  .header__wrapper__right-content p {
    writing-mode: horizontal-tb;
    line-height: 2;
    text-align: left;

    margin-top: 0;
  }
  .header__wrapper__right-content p:not(:nth-of-type(1)) br {
    display: none;
  }
  /* ***img*** */
  .header__wrapper__right-img {
    display: none;
  }

  /* ========= INFORMATION ========= */
  /* >>> TITLE <<<< */
  .information__wrapper > p {
    margin-bottom: 5%;
  }
  /* >>> LIST ITEMS <<<< */

  .information__wrapper__lists-item {
    flex-direction: column;
    align-items: start;
    padding: 10px 15px;

    border-bottom: none;

    background: var(--color-white);
    font-size: var(--fsize-12);
  }
  .information__wrapper__lists-item a {
    margin-top: 10px;
  }
  .information__wrapper__lists-item div {
    display: flex;
    align-self: center;

    margin-top: 10px;
  }

  /* =============== CARDS ============ */

  .cards__wrapper {
    flex-direction: column;
  }
  .cards__wrapper-item {
    height: 300px;
  }
  .cards__wrapper-item div {
    padding: 20px;
  }

  /* *** card lists *** */
  .cards__wrapper-item-lists {
    bottom: 100px;
  }
  .cards__wrapper-item-lists a {
    padding: 10px;
    font-size: var(--fsize-14);
  }

  /* ================ CLINIC ============= */
  .clinic__wrapper {
    width: 98%;
    flex-direction: column;
  }
  /* >>> TITLE <<< */
  .clinic__wrapper__left p {
    text-align: center;
    margin-bottom: 20px;

    font-size: 24px;
  }
  /* >>>  CONTENT <<< */
  .clinic__wrapper__right {
    padding: 0 20px;
  }
  /* ****  buttons **** */
  .clinic__wrapper__right div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  /* ================ TELEPHONE ============= */
  .telephone__wrapper::before {
    height: 60px;
    top: -65px;
  }
  .telephone__wrapper::after {
    width: 180px;
  }
  .telephone__wrapper p {
    font-size: var(--fsize-14);
  }
  .telephone__wrapper div {
    font-size: var(--fsize-20);
  }
  .telephone__wrapper div > span {
    font-size: var(--fsize-14);
  }

  /* ================= FOOTER ================*/
  .footer__wrapper {
    margin: 50px auto;
    flex-direction: column;
    gap: 10px;
  }
  /* *** copyright *** */
  .footer__wrapper-copyright {
    position: initial;
  }
}
